<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>User Detail</title>
</head>
<body>

    <div
        data-testid="user-name"
        th:text="${user.name}">
    </div>

    <div
        data-testid="user-profile"
        th:text="${user.profile}">
    </div>

    <div
        data-testid="user-affiliation"
        th:text="${user.affiliation}">
    </div>

    <div
        data-testid="user-position"
        th:text="${user.position}">
    </div>

    <div th:each="prototype : ${prototypes}">

        <div
            data-testid="prototype-name"
            th:text="${prototype.name}">
        </div>

        <img data-testid="prototype-image" th:src="${prototype.imageName}"/>

    </div>

</body>
</html>