/* heightをheader/footerと合わせて body の余白確保に使う */
html, body {
  margin: 0;
  padding: 0;
}
 
body {
  padding-top: 66px;   /* .header の高さ分 */
  padding-bottom: 40px; /* footer の高さ分 */
}
 
.header {
  background-color: #f1f8fe;
  border-bottom: 2px solid #c6c6c6;
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
 
.header__bar {
  max-width: 100vw;
  margin: 0 auto;
  padding: 12px 280px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.header__bar h1 {
  margin: 0;
}
 
.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 1.4;
}
 
.logo__caption {
  font-size: 10px;
  letter-spacing: 3px;
  color: #9a9a9a;
}
 
.logo__main {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #6e7378;
}
 
.logo__accent {
  color: #a7cbe8;
}
 
.user_nav,
.grid-6 {
  display: flex;
  align-items: center;
  gap: 16px;
}
 
.user__info {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.logout-btn,
.header_botton {
  height: 32px;
  padding: 0 16px;
 
 
  border: 1px solid #8fd3ff;
  border-radius: 3px;
 
  color: #8fd3ff;
  font-size: 12px;
 
  text-decoration: none;
  cursor: pointer;
 
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.logout-btn:hover,
.header_botton:hover {
  background: #8fd3ff;
  color: white;
  transition: 0.3s;
}
 
/* Footer */
 
footer {
  background-color: #a9a9a9;
  height: 40px;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}
 
footer p {
  color: white;
  font-size: 12px;
  margin: 0;
}