<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>Prototype Edit</title>
</head>
<body>
  <h1>編集ページ</h1>

  <form th:action="@{/prototypes/{id}(id=${prototype.id})}" method="post" enctype="multipart/form-data">
    <input type="text" name="name" th:value="${prototypeForm.name}" />
    <input type="text" name="catchCopy" th:value="${prototypeForm.catchCopy}" />
    <textarea name="concept" th:text="${prototypeForm.concept}"></textarea>
    <input type="file" name="imageName" />
    <button type="submit">更新する</button>
  </form>
</body>
</html>