<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>編集</title>
<link th:href="@{/css/prototypes/edit.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{layout/header :: header}"></div>
<div class="edit-container">
<h1>プロトタイプ編集</h1>

    <form th:action="@{/prototypes/{id}(id=${prototype.id})}" th:object="${prototypeForm}" method="post" enctype="multipart/form-data">

        <div class="prototype_subtitle">プロトタイプの名称</div>
<input type="text" th:field="*{name}">

        <div class="prototype_subtitle">キャッチコピー</div>
<input type="text" th:field="*{catchCopy}">

        <div class="prototype_subtitle">コンセプト</div>
<textarea th:field="*{concept}"></textarea>

        <div class="prototype_subtitle">プロトタイプの画像</div>
<input type="file" th:field="*{imageName}">

        <input type="submit" value="保存する" class="prototype_submit">

    </form>
</div>
<div th:insert="~{layout/footer :: footer}"></div>
</body>
</html>