<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>Prototype New</title>
  <link th:href="@{/css/prototypes/new.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div th:insert="~{layout/header :: header}"></div>
  <h1>新規投稿ページ</h1>

  <form th:action="@{/prototypes}" method="post" enctype="multipart/form-data" th:object="${prototypeForm}" class="prototype_form">
    <div class="prototype_subtitle">プロトタイプの名称</div>
    <input type="text" name="name" th:value="*{name}" />
    <div class="prototype_subtitle">キャッチコピー</div>
    <input type="text" name="catchCopy" th:value="*{catchCopy}" />
    <div class="prototype_subtitle">コンセプト</div>
    <textarea name="concept" th:text="*{concept}"></textarea>
    <div class="prototype_subtitle">プロトタイプの画像</div>
    <input type="file" name="imageName" />
    <br>
    <button type="submit" class="prototype_submit">保存する</button>
  </form>
  <div th:insert="~{layout/footer :: footer}"></div>
</body>
</html>